---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
      <div class="title"><img class="me" src="/me.jpg"/><h1>Hi! I'm ocx64 aka Overclock</h1></div>
      <p>
        For those that don't know me, I'm a software developer (duh). I've been making software ever since I was 12 years old and using computers since before I could read.
      </p>
      <p>
        I have experience in a lot of different areas of software. Running kubernetes clusters, writing drivers, making web apps, working on cryptography and authentication libraries. 
        I'm quite fond of low level stuff, well, about computers in general really.
      </p>
      <p>
        I won't write down all the languages I know because my personal belief is that its not what you currently know that defines you.
        Its what you're willing to learn. (Rust btw)
      </p>
      <h4>Current setup</h3>
      <ul>
        <li>Neovim btw (<a href="https://github.com/LucFauvel/dotfiles">dotfiles</a>)</li>
        <li>Arch btw (Sometimes Windows)</li>
        <li>MBP M3 Ultra for work</li>
      </ul>
		</main>
    <Footer />
	</body>
</html>
<style>
  .title {
    display: inline-flex;
    flex-direction: row;
    gap: 25px;
    align-items: center;
  }

  .me {
    height: 150px;
    width: 150px;
    border-radius: 80px;
  }
  
  @media (max-width: 720px) {
      .title {
          flex-direction: column;
      }
  }
</style>
