<footer>
  What are you doing down here? <br> 
  The content is up there☝️  <br> 
  Anyways here are my socials (again)
	<div class="social-links">
			<a href="https://x.com/ocx64" target="_blank">
				<span class="sr-only">Follow me on X</span>
				X/Twitter
      </a>
			<a href="https://bsky.app/profile/ocx64.dev" target="_blank">
				<span class="sr-only">Follow me on Bluesky</span>
				Bluesky
      </a>
			<a href="https://github.com/LucFauvel" target="_blank">
				<span class="sr-only">Go to my GitHub profile</span>
				GitHub
			</a>
		</div>
</footer>
<style>
	footer {
		padding: 2em 1em 6em 1em;
		background: var(--cream);
		border-top: var(--border);
		color: rgb(var(--gray));
		text-align: center;
	}
	.social-links {
		display: flex;
		justify-content: center;
		gap: 1em;
		margin-top: 1em;
	}
	.social-links a {
		text-decoration: none;
		color: rgb(var(--gray));
	}
	.social-links a:hover {
		color: rgb(var(--gray-dark));
	}
</style>
