---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header>
	<nav>
    <a class="me-container" href="/"><img class="me" src="/me.png"/></a>
		<div class="internal-links">
			<HeaderLink href="/">Me</HeaderLink>
			<HeaderLink href="/blog">Blog</HeaderLink>
			<HeaderLink href="/friends">Friends</HeaderLink>
		</div>
		<div class="social-links">
			<a href="https://x.com/ocx64" target="_blank">
				<span class="sr-only">Follow me on X</span>
				X/Twitter
      </a>
			<a href="https://bsky.app/profile/ocx64.dev" target="_blank">
				<span class="sr-only">Follow me on Bluesky</span>
                Bluesky
			<a href="https://github.com/LucFauvel" target="_blank">
				<span class="sr-only">Go to my GitHub profile</span>
				GitHub
			</a>
		</div>
	</nav>
</header>
<style>
	header {
    margin: 0;
    padding: 0 1em;
    background: var(--cream);
    border-bottom: var(--border);
  }
  h2 {
      margin: 0;
      font-size: 1em;
  }
  h2 a,
  h2 a.active {
      text-decoration: none;
  }
  nav {
      display: flex;
      align-items: center;
      justify-content: space-between;
  }
  nav a {
      padding: 1em 0.5em;
      color: rgb(var(--gray-dark));
      border-bottom: 2px solid transparent;
      text-decoration: none;
  }
  nav a:hover {
      color: rgb(var(--black));
  }
  nav a.active {
      text-decoration: none;
      border-bottom-color: rgb(var(--black));
      color: rgb(var(--black));
  }
  .social-links,
  .social-links a {
      display: flex;
  }
  .me {
    height: 50px;
    width: 50px;
    border-radius: 0;
  }
  .me-container {
    padding: 0 !important;
  }
  @media (max-width: 720px) {
      .social-links {
          display: none;
      }
  }
</style>
